*.joblib
*.npy



all_data/ncbi/
all_data/gisaid/





irat_enet/results/variant_predictions/*/*/enet_models/
irat_enet/results/variant_predictions/*/*/data/

irat_enet/results/irat_predictions/*/enet_models/
irat_enet/results/irat_predictions/*/data/

irat_enet/final_irat_model/data/human/gisaid/human.csv
irat_enet/final_irat_model/data/human/irat/

irat_enet/emergenet/data/human.csv

irat_enet/data/*.csv






enet_predictions/random_sampling/data/data_dm/
enet_predictions/results/enet_predictions/extra_data/
enet_predictions/data/merged